[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
beautifulsoup4 = "*"
gspread = "*"
oauth2client = "*"
lxml = "*"
openpyxl = "*"
pandas = "==1.4.2"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.9"
